<%- include('../partials/header') %>

  <section id="show-page">
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div>
    <div>Airport: </div>
    <div>
      <%= flight.airport %>
    </div>
    <div>FlightNo: </div>
    <div>
      <%= flight.flightNo %>
    </div>
    <div>Departs: </div>
    <div>
      <%= flight.departs %>
    </div>

    <br><br>
    <h2>Destinations</h2>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">


      <label>Arrival</label>
      <input name="arrival" type="datetime-local">

      <label>Airport</label>
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>


      <input type="submit" value="Add Destination">
    </form>

    <% if (flight.destinations.length) { %>
      <table id="destinationBox">
        <thead>
          <tr>
            <th>Destinations</th>
          </tr>
        </thead>
        <tbody>
          <% flight.destinations.forEach(function(f) { %>
            <tr>

              <td>
                <%= f.airport %>
              </td>
              <td>
                <%= f.arrival %>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } %>

        <% if (tickets.length) { %>
          <table id="ticketBox">
            <tr>
              <th>Seat</th>
              <th>Gold Coins</th>
              <th></th>
            </tr>
            <% tickets.forEach(function(t) { %>
              <tr>
                <td>
                  <%= t.seat %>
                </td>
                <td>
                  <%= t.price %>
                </td>
              </tr>
              <% }) %>
          </table>
          <% } %>

            <form action="/flights/<%=flight._id%>/tickets/new" method="GET">
              <input type="submit" value="NEW TICKET">
            </form>





            <%- include('../partials/footer') %>